*{
  padding: 0;
  margin:0;
}

.nav{
  background-image: url("https://coolwallpapers.me/picsup/6013846-background-knowledge-wallpaper-book-mood-pages-book.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 0% 90%;
  height:20vh;
}

.nav li{
 margin: 10px;
}

.nav ul{
  background: white;
  opacity: 0.4;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  padding: 10px;
}

a{
  text-decoration: none;
}
